.container{
  display: flex;
  flex-direction: column;
  align-items: center;    
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 10px;
  width: 350px;
  border: 1px solid black;
}
.rak{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-direction: row;
}
.rak1{
}
.box-orangered{
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  background-color: orangered;
}
.box-deeppink{
  width: 100px;
  height: 100px;
  margin-top: 1rem;
  border-radius: 25px;
  background-color:deeppink;
}
.triangle-orange{
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid orange;
  border-bottom: 50px solid transparent;

}
.ring-bluesky{
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 1rem;
  border-radius: 50%;
  background-color:skyblue;
}
.ring-bluesky::before{
  content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;

}
.block-green{
  width: 100px;
  height: 216px;
  border-radius: 25px;
  margin-left: 1rem;
  background-color:darkgreen;
}
.block-lime{
  width: 100%;
  height: 40px;
  background-color:lime;
}