* {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: calibri, serif;
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2rem;
}

.wrapper {
  margin-top: 1rem;
  padding: 1rem;
  border: 0.1rem solid black;
}

.timer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(29, 240, 240);
}
.number {
  font-size: 2rem;
}
.timer-text {
  font-size: 1.5rem;
}
.tombol {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  border: 1px solid yellow;
  box-shadow: 2px 2px 4px rgba(240, 244, 19, 0.984);
}
.btn-reset {
  background-color: rgb(233, 198, 0);
}
.btn-start {
  background-color: rgb(229, 233, 0);
}
.btn-stop {
  background-color: rgb(144, 233, 0);
}
